<div class="condition">
  <div class="condition__body">
    <div class="condition__title title">
      Оренда машин - умови прокату
    </div>
    <div class="condition__row">
      <div class="condition__column">
        <div class="item-about">
          <div class="item-about__text">
            <p>
              Оренда транспортного засобу – відповідальний вчинок, тому варто чітко дотримуватись встановлених правил.
              Для оренди необхідно мати наступні документи:Оренда транспортного засобу – відповідальний вчинок, тому варто чітко дотримуватись встановлених правил.
              Для оренди необхідно мати наступні документи:
            </p>
            <ul class="about-condition">
              <li>
                Власний паспорт. Особа, яка орендує автомобіль повинна бути старше 21 року;
              </li>
              <li>
                Водійські права, що засвідчують стаж водіння не менше трьох років.
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="condition__column">
        <div class="item-about__image">
          <img src="assets/images/condition.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="condition__title title">
      Оплата
    </div>
    <div class="condition__row">
      <div class="condition__column">
        <div class="item-about">
          <div class="item-about__image">
            <img src="assets/images/payment.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="condition__column">
        <div class="item-about">
          <div class="item-about__text">
            <p>
              Оплату за оренду автомобіля можна здійснити готівкою, або за допомогою банківської картки Visa/MasterCard.
            </p>
            <p>
              Під час підписання договору варто здійснити оплату за весь період користування автомобілем.
            </p>
            <p>
              Залишити завдаток – 400 Євро
            </p>
            <p>
              Для авто категорії SUV та Бізнес  – 600 Євро
            </p>
            <h5>
              Завдаток може списуватись у наступних випадках:
            </h5>
            <ul class="refund">
              <li>Царапини на елементах кузова – 150 €/елемент</li>
              <li>Необхідна хімчистка салону – 100 €</li>
              <li>Розбите скло – завдаток у повному обсязі</li>
              <li>Прокурений салон – завдаток у повному обсязі</li>
              <li>Потрапляння авто у ДТП – завдаток у повному обсязі</li>
              <li>Втрата ключів/документів – завдаток у повному обсязі.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--  -->

    <div class="condition__title title">
      Що включає в себе оренда машин?
    </div>
    <div class="condition__row">
      <div class="condition__column">
        <div class="item-about">
          <div class="item-about__text">
            <ul class="includes">
              <p>
                Оренда машини також додатково включає в себе:
              </p>
              <li>Цілодобову підтримку;</li>
              <li>Базове страхування.</li>
            </ul>
            <p>
              Базове страхування – це фінансова відповідальність особи, яка орендує автомобіль у випадку дтп, обмежена франшизою*.
              *Франшиза – Повне страхування; сума, яку повинна виплатити особа, яка орендувала авто у разі пошкодження транспортного засобу.
              (Франшиза складає від 400€). Оренда машин дозволяє користуватись транспортним засобом протягом 24 годин. 
              Якщо термін було перевищено більш ніж на 59 хвилин, компанія залишає за собою право стягувати плату за наступний день користування.
              Мінімальний термін оренди – 1 (одна) доба (повні 24 години).
            </p>
            <h5>
              Відповідальність клієнта:
            </h5>
            <p>
              У разі пошкодження автомобіля відповідальність Клієнта обмежується франшизою. 
              Ми рекомендуємо повертати автомобіль в чистому вигляді для зручності фіксації стану автомобіля на предмет відсутності пошкоджень.
            </p>
          </div>
        </div>
      </div>
      <div class="condition__column">
        <div class="item-about">
          <div class="item-about__image">
            <img src="assets/images/includes.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

