<footer id="colophon" class="site-footer">
  <div class="footer-head container">
    <div class="footer-head__item">
    </div><a
      href="https://www.google.com/maps/place/Maksyma+Zaliznyaka+Street,+15,+L'viv,+L'vivs'ka+oblast,+79000/@49.8296502,23.9941042,17z/data=!3m1!4b1!4m5!3m4!1s0x473ae77fb63557a3:0xfa6718877f50d63e!8m2!3d49.8296502!4d23.9962929"
      class="footer-head__item">
      <i class="fas fa-map-marked-alt"></i>
      <span>Вул. Залізнична 17 </span>
    </a>
    <a href="tel:+380976299719" class="footer-head__item">
      <i class="fas fa-mobile"></i>
      <span>+38 (097) 629 97 19</span>
    </a>
  </div>
  <div class="footer-foot container">
    <div class="footer-foot__item">
      <h6> Наші контакти </h6>
      <ul class="footer-list">
        <li><a
            href="https://www.google.com/maps/place/Maksyma+Zaliznyaka+Street,+15,+L'viv,+L'vivs'ka+oblast,+79000/@49.8296502,23.9941042,17z/data=!3m1!4b1!4m5!3m4!1s0x473ae77fb63557a3:0xfa6718877f50d63e!8m2!3d49.8296502!4d23.9962929">Вул.
            Залізнична 17 </a></li>
        <li><a href="tel:+380930393333">+38 (097) 629 97 19</a></li>
        <li><a href="mailto: olegsenkiv1992@urk.net">Email: olegsenkiv1992@ukr.net</a></li>
      </ul>
    </div>
    <div class="footer-foot__item">
      <h6>
        Основні сторінки </h6>
      <div class="menu-main-nav-container">
        <ul id="menu-main-nav" class="menu">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-51 nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Головна</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50 nav-item">
            <a class="nav-link" [routerLink]="['/catalog-auto']" routerLinkActive="active">Каталог авто</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-741 nav-item">
            <a class="nav-link" [routerLink]="['/price']" routerLinkActive="active">Ціни</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-928 nav-item">
            <a class="nav-link" [routerLink]="['/sales']" routerLinkActive="active">Акції</a>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page current_page_item menu-item-52 nav-item">
            <a class="nav-link" [routerLink]="['/rental-conditions']" routerLinkActive="active">Умови прокату</a>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54 nav-item">
            <a class="nav-link" [routerLink]="['/contacts']" routerLinkActive="active">Контакти</a>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55 nav-item">
            <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active">Кабінет</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-foot__item">
      <h6> Години роботи </h6>
      <ul class="footer-list">
        <li>Понеділок: 8:00 - 20:00</li>
        <li>Вівторок: 8:00 - 20:00</li>
        <li>Середа: 8:00 - 20:00</li>
        <li>Четверг: 8:00 - 20:00</li>
        <li>П'ятниця: 8:00 - 20:00</li>
        <li>Субота: 8:00 - 19:00</li>
        <li>Неділя: Вихідний</li>
        <li>Підтримка 24/7</li>
      </ul>
    </div>
  </div>
</footer>
