* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
ul {
  font-family: 'Montserrat', sans-serif;
  color: #363635;
}

#colophon{
  width: 100%;
  border: 1px solid goldenrod;
  box-shadow: 9px 0px 9px 0px rgba(128, 126, 131, 0.76);
}

a {
  text-decoration: none;
  transition: all .33s;
}


ul,
p {
  font-size: 1rem;
  line-height: 1.4;
}

.section,
.site-footer {
  margin-top: 3rem;
}

.container,
.comments-area {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.header-top-bar-container,
.site-footer {
  width: 100%;
  background-color: #F5F5F5;
}

.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}


.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-navigation {
  margin-left: auto;
}


.recall .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}



.site-footer {
  display: flex;
  flex-direction: column;
}

.footer-head,
.footer-foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem .5rem;
}

.footer-head {
  border-bottom: 1px solid #ccc;
}

.footer-head__item {
  padding: 1rem .5rem;
  font-size: 1.5rem;
  color: #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .33s;
}

.footer-head__item i {
  font-size: 3rem;
  padding-right: 1rem;
}

.footer-head__item:hover {
  color: #f8b132;
}

.footer-item {
  max-width: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-item:first-child {
  max-width: 50%;
}

.footer-item img,
.footer-item ul {
  margin: 0 auto;
  display: block;
}

.footer-item ul {
  list-style: none;
}

.footer-item a {
  color: #555;
  display: inline-block;
  padding: .5rem .25rem;
  position: relative;
  overflow: hidden;
}

.footer-item a:hover {
  color: #333;
}

.footer-item a:after {
  transition: all .33s;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #f8b132;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
}

.footer-item a:hover:after {
  transform: translateX(0);
}

.footer-foot__item {
  width: 33%;
}

.footer-foot__item h6 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #f8b132;
  padding: 1rem 0;
  border-bottom: 1px solid #bbb;
  max-width: 50%;
}

.footer-foot__item ul {
  list-style: none;
}

.footer-foot__item ul a,
.footer-foot__item ul.footer-list li {
  padding: .5rem .25rem;
  color: #363635;
}

.footer-foot__item ul a {
  display: inline-block;
}

.footer-foot__item ul.footer-list a {
  padding: 0;
}

.footer-foot__item ul a:hover {
  color: #f8b132;
}

.footer-copyright {
  text-align: center;
  padding: 1rem .5rem;
  color: #bbb;
  background-color: #363635;
}

.footer-copyright a {
  color: #f8b132;
}



#product_form_footer {
  margin-top: 1rem;
}

#product_form_footer .summary {
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}



#product_form_footer button:hover {
  background: #f8b132 !important;
  color: #fff !important;
}



.comment-list,
.comments-title {
  display: none !important;
}



@media screen and (max-width:1440px) {
  .slideshow-container .text .carousel-text__title {
    font-size: 2.5rem;
  }

  .slideshow-container .text .carousel-text__desc {
    font-size: 1.5rem;
  }
}


.blog .entry-header,
.blog .entry-footer {
  display: none;
}

@media screen and (max-width:1024px) {
  .slideshow-container .text .carousel-text__title {
    font-size: 2rem;
  }

  .slideshow-container .text .carousel-text__desc {
    font-size: 1rem;
  }

  .container {
    width: 95%;
  }

  .site-branding {
    max-width: 20%;
  }

  .leo-contact .section-content {
    flex-direction: column-reverse;
  }

  .leo-contant-item {
    width: 100%;
  }

  .footer-head {
    justify-content: space-evenly;
  }

  .footer-head__item:first-child {
    display: none;
  }
}


@media screen and (max-width:768px) {
  .slideshow-container .text .carousel-text__title {
    font-size: 1.5rem;
  }

  #colophon {
    border: 2px solid gold;
  }

  .footer-foot{
    width: 100%;
    flex-wrap: wrap;
  }

  .footer-foot__item {
    width: 32%;
  }

  #menu-left-top-header li a {
    font-size: .6rem;
  }

  .footer-head {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
  }

}

@media screen and (max-width:480px) {

  .fiches-item {
    max-width: 100%;
  }

  .footer-head__item {
    text-align: center;
  }

  .footer-foot__item {
    width: 80%;
  }

  .footer-foot {
    flex-wrap: wrap;
  }  

 .container {
    justify-content: center;
  }

}

@media only screen and (max-width: 375px) {
  .leo-mail {
    display: none;
  }

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}


