<div class="contacts">
  <div class="contacts__body">
    <div class="contacts__title title">
      <h2>Прокат машин</h2>
    </div>
    <div class="contacts__row">
      <div class="contacts__columns">
        <div class="item-about">
          <div class="item-about__title">
            <h5>
              <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path
                  d="M12.5 7.25a.75.75 0 00-1.5 0v5.5c0 .27.144.518.378.651l3.5 2a.75.75 0 00.744-1.302L12.5 12.315V7.25z">
                </path>
                <path fill-rule="evenodd"
                  d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z">
                </path>
              </svg>
              Графік роботи :
            </h5>
          </div>
          <ul class="item-about__list">
            <li>Пн-Пт: 8:00-20:00</li>
            <li>Сб: 8:00-19:00</li>
            <li>Нд: вихідний</li>
            <li>Цілодобова підтримка</li>
          </ul>
          <div class="item-about__address">
            <ul class>
                <li>
                  <svg class="warning mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20">
                    <path fill-rule="evenodd"
                      d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z">
                    </path>
                  </svg>
                  olegsenkiv1992@ukr.net
                </li>
                <li>
                  <svg class="warning mr-2" xmlns="http://www.w3.org/2000/svg" color="rgb(255, 166, 0)" viewBox="0 0 16 16" width="20" height="20" >
                    <path fill-rule="evenodd"
                      d="M3.75 0A1.75 1.75 0 002 1.75v12.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 14.25V1.75A1.75 1.75 0 0012.25 0h-8.5zM3.5 1.75a.25.25 0 01.25-.25h8.5a.25.25 0 01.25.25v12.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25V1.75zM8 13a1 1 0 100-2 1 1 0 000 2z">
                    </path>
                  </svg>
                  +38(097) 62 99 719
                </li>
                <li>
                  <svg class="warning mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                    <path fill-rule="evenodd"
                      d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z">
                    </path>
                  </svg>Львів. вул.Залізнична 17
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="contacts__columns">
        <div class="item-about">
          <div class="item-about__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.924231318658!2d23.995117915592573!3d49.84388117939622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add9a8da95f07%3A0xfaa2bf9b37f7b790!2z0YPQu9C40YbQsCDQl9Cw0LvQuNC30L3Ri9GH0L3QsCwgNzYsINCb0YzQstC-0LIsINCb0YzQstC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1sru!2sua!4v1592308178358!5m2!1sru!2sua"
              width="100%" height="450px" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
